@import '../../styles/colors.scss';

.form_container {
  background-color: $orange-dark;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  padding-top: 3rem;
  button {
    margin-top: 1rem;
    max-width: 50px;
  }
  &__status {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-content: center ;
    justify-content: center
    
  }
  .success {
    color: $green;
  }
  .error {
    color: $red;
  }
}


