$purple-dark: #9381FF;
$purple-light: #B8B8FF;
$white: #F8F7FF;
$orange-light: #FFEEDD;
$orange-dark: #FFD8BE;

$primary-color: #c2c2c2;
$secondary-color: #bfc2c4;
$tertiary-color: #2b2e33;
$quaternary-color: #191b1f;
$yellow: #ffb304;
$green: #1fd19f;
$red: #fd6c6b;
$purple: #572cac;